<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Calculadora con lenguaje natural</h2>
    <p>Escribe una frase como:</p>
    <ul>
        <li>suma 3 y 5</li>
        <li>¿Cuánto es 7 * 8?</li>
        <li>Divide 10 entre 2</li>
        <li>Resta 15 menos 4</li>
    </ul>
    <!--formulario para escribir la frase-->
    <form action="/" method="POST">
        <label for="nl_input">Escribe tu operacion</label><br>
        <input type="text"
        id="nl_input"
        name="nl_input"
        placeholder="Ejemplo suma 3 y 4"
        required size="40"><br><br>
        <button type="submit"> Calcular</button>
    </form>
    <!--mostrar resultado-->
    {% if resultado %}
        <h3>Resultado: {{resultado}}</h3>
    {% endif %}
</body>
</html>