<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTURA</title>
    <link rel="stylesheet" href="../static/facturas.css">
</head>
<body>
    <div class="container">
        <h2>Ingreso de datos de factura</h2>
       <form method="POST"><!-- comentario -->
            <label for="name">Nombre: </label>
            <input type="text" name="nombre" id="name" required><br><br>
            <label for="email">Correo: </label>
            <input type="email" name="correo" id="email" required><br><br>
            <label for="nit">NIT: </label>
            <input type="number" name="nitId" id="nit" required><br><br>
            <label for="factura">Número de factura: </label>
            <input type="text" name="fact" id="factura" required><br><br>
            <label for="producto">Producto: </label>
            <input type="text" name="prod" id="producto" required><br><br>
            <label for="valor">Precio: </label>
            <input type="number" name="precio" id="valor" required><br><br>
            <label for="cantidad">Unidades: </label>
            <input type="number" name="unidades" id="cantidad" required><br><br>
            <button type="submit">Generar factura</button>
       </form>
    </div>
    <div class="factura_hecha">
       {% if datos %} 
            {% if datos.error %}
                <p style="color: crimson;">{{ datos.error }}</p>
            {% else %}
                <h3>Factura generada</h3>
                <p><strong>Cliente: </strong>{{ datos.nombre }}</p>
                <p><strong>Correo: </strong>{{ datos.correo }}</p>
                <p><strong>NIT: </strong>{{ datos.nitId }}</p>
                <p><strong>Número de factura: </strong>{{ datos.fact }}</p>
                <p><strong>Producto: </strong>{{ datos.prod }}</p>
                <p><strong>Precio: </strong>{{ datos.precio }}</p>
                <p><strong>Unidades: </strong>{{ datos.unidades }}</p>
                <p><strong>Total a pagar: </strong>{{ datos.total }}</p>
            {% endif %}
        {% endif %}   
    </div>
</body>
</html>