<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de tareas</title>
</head>
<body>
    <h1>Lista de tareas</h1>
    <form action="" method="post">
        <input type="text" name="tareas" placeholder="Nueva tarea..." required>
        <button type="submit">Agregar</button>
    </form>
    <ul>
        {% for t in tareas %}
            <li>{{ t }}</li>
        {% endfor %}
    </ul>
</body>
</html>